@model FirstNetCoreMVC.ViewModels.InstructorViewModel

@{
    ViewData["Title"] = "Instructors";
}

<h2>Instructors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructors[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructors[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructors[0].HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructors[0].OfficeAssignment.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["InstructorID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
                    }
                </td>
                <td>
                    @foreach (var courseAssigments in item.CourseAssignments)
                    {
                        @courseAssigments.Course.CourseID @: @courseAssigments.Course.Title <br />
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(x => x.Courses[0].CourseID)</th>
                <th>@Html.DisplayNameFor(x => x.Courses[0].Title)</th>
                <th>@Html.DisplayNameFor(x => x.Courses[0].Department.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                string selectedRow = "";
                if (course.CourseID == (int?)ViewData["CourseID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Select", "Index", new { courseID = course.CourseID })
                    </td>
                    <td>
                        @Html.DisplayFor(x => course.CourseID)
                    </td>
                    <td>
                        @Html.DisplayFor(x => course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(x => course.Department.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Enrollments[0].Student.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Enrollments[0].Grade)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enrollment in Model.Enrollments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => enrollment.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => enrollment.Grade)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
